body{ 
   background-color:#060057;
}
h1{
    color: magenta;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1rem;
}

input{
    padding: .4rem;
    border-radius: 10px;
    border: 1px solid #000;
}

#unit{
    padding: .4rem;
    border-radius: 10px;
    border: 1px solid #000;
}
.align{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7rem;
}

.converter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
    width: 500px;
    box-shadow: 0px 2px 2px 0px ;
    background-color: rgb(218, 230, 47);
    margin-left: 5rem;
    margin-right: 5rem;
}

button {
    padding: .6rem;
    margin-top: 10px;
    border: transparent;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

button:hover{
    scale: .97;
    color: #000;
    background-color: cyan;
}


p{
    color: blue;
    font-weight: 900;
}
img{
    height:500px;
    width: auto;
    
}
.img_sec{
    height:500px;
    width: 400px;
}